<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>

<body>
    <h1>Weather Data API</h1>
    <p>URL Format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL Example (All Station Data): <a href="http://127.0.0.1:5000/api/v1/10">http://127.0.0.1:5000/api/v1/10</a></p>
    <p>URL Example (All Station Data for Specified Year): <a href="http://127.0.0.1:5000/api/v1/annual/10/1988">http://127.0.0.1:5000/api/v1/annual/10/1988</a></p>
    <p>URL Example (Station Data for Specified Station and Date): <a href="http://127.0.0.1:5000/api/v1/10/1988-10-25">http://127.0.0.1:5000/api/v1/10/1988-10-25</a></p>
    <p>{{stations_table|safe}}</p>
</body>

</html>